name: Build macfpsboost

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew --no-daemon clean build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: macfpsboost-1.0.0.jar
          path: build/libs/*.jar
